.wrapper {
   display: grid;
   gap: 0.875rem;
   grid-template-columns: 9.5rem 27.75rem;
   align-items: center;
   @media (max-width: 64rem) {
      grid-template-columns: auto;
      justify-content: center;
   }
   @media (max-width: 30rem) {
      grid-template-columns: 358px;
   }
}

.side {
   display: grid;
   grid-template-columns: 9.5rem;
   grid-template-rows: repeat(3, 10.5rem);
   gap: 0.5rem;
   justify-content: space-between;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
   }
   @media (max-width: 64rem) {
      grid-template-columns: repeat(3, 8.875rem);
      grid-template-rows: 10.5rem;
   }
   @media (max-width: 48rem) {
      grid-template-columns: repeat(3, 7.625rem);
      grid-template-rows: 6.625rem;
   }
   @media (max-width: 30rem) {
      grid-template-columns: repeat(3, 7rem);
   }
}

.mainImg {
   position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   background: rgb(240, 238, 237);
   border-radius: 1.25rem;
   width: 27.75rem;
   height: 33.125rem;
   @media (max-width: 64rem) {
      grid-row: 1;
   }
   @media (max-width: 48rem) {
      width: 100%;
      height: 18.125rem;
   }
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.25rem;
      @media (max-width: 48rem) {
         width: 80%;
         height: 100%;
      }
   }
}

.img {
   border-radius: 1.25rem;
   background: rgb(240, 238, 237);
}

.active {
   border: 1px solid rgb(0, 0, 0);
}
