.popup {
   position: relative;
   background: #000;
   padding: 0.625rem;
   z-index: 1000;
}

.popupWrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   p {
      flex: 1;
      color: #fff;
      text-align: center;
      font-size: 0.875rem;
      a {
         margin-left: 0.3rem;
         font-size: 0.875rem;
         font-weight: 500;
         text-decoration: underline;
         transition: opacity 0.3s;
         &:hover {
            opacity: 0.8;
         }
      }
   }
   button {
      margin-left: auto;
   }
}

.closePopup {
   position: relative;
   width: 14px;
   height: 14px;
   transition: opacity 0.3s;
   cursor: pointer;
   &:hover {
      opacity: 0.8;
   }
   &::after,
   &::before {
      content: "";
      position: absolute;
      display: block;
      width: 14px;
      height: 2px;
      background: #fff;
   }
   &::before {
      transform: rotate(45deg);
   }
   &::after {
      transform: rotate(-45deg);
   }
}
