.section {
   background: rgb(242, 240, 241);
   h1 {
      font-family: "IntegralCF-Bold";
      font-size: 4rem;
      font-weight: 700;
      line-height: 4rem;
      margin-bottom: 2rem;
   }

   p {
      margin-bottom: 2rem;
   }

   button {
      background: #000;
      color: #fff;
      margin-bottom: 3rem;
      transition: color 0.3s;
      &:hover {
         color: darken(#fff, 20%);
      }
   }
}

.wrapper {
   display: grid;
   grid-template-columns: minmax(20rem, 37.5rem) auto;
   gap: 3.375rem;
   img {
      padding-top: 2.75rem;
   }
}

.content {
   padding-top: 6.25rem;
}

.info {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   p {
      margin-bottom: 0px !important;
   }
   h3 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 3.375rem;
      font-family: "Satoshi-Bold";
   }
}

.line {
   width: 0.0625rem;
   height: 4.625rem;
   background: #000;
   opacity: 0.1;
}
